.container-fluid{ ng: { controller: 'CheckoutController' }}
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Credit Card
      .panel-body
        %form.form-horizontal{ ng: { init: "ccInit(#{@credit_card.to_json.html_safe})" }}
          .form-group
            %label.col-sm-3.control-label{for: "first-name"} First Name
            .col-lg-8
              %input#first-name{ ng: { model: "cc.first_name" }, class: "form-control" }
          .form-group
            %label.col-sm-3.control-label{for: "last-name"} Last Name
            .col-lg-8
              %input#last-name{ ng: { model: "cc.last_name"}, class: "form-control" }
          .form-group
            %label.col-sm-3.control-label{for: "cc",}Card #
            .col-lg-8
              %input#cc{ ng: { model: "cc.number"}, class: "form-control", placeholder: "Credit Card Number" }
          .form-group
            %label.col-sm-3.control-label{for: "cc",} Card CVV
            .col-lg-8
              %input#cc{ ng: { model: "cc.cvv" , type: "text" }, class: "form-control", placeholder: "Security Code" }
          .form-group
            %label.col-sm-3.control-label{for: 'exp-month'} Exp. Date
            .col-sm-9
              .row
                .col-sm-3
                  = wrapped_angular_select_month('cc.month', "ng-required" => true)
                .col-sm-3
                  = wrapped_angular_select_year('cc.year', "ng-required" => true)
          .form-group
            .col-sm-offset-3.col-sm-12
              %button.btn.btn-success{ ng: { click:"updateCC(cc)" }}
                Update
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Billing Address
      .panel-body
        %form.form-horizontal{ ng: { init: "addressInit(#{@address.to_json.html_safe})" }}
          .form-group
            %label.col-sm-3.control-label{for: "street-address"} Address
            .col-lg-8
              %input#first-address{ ng: { model: "address.street_addr" }, type: "text", class: "form-control", placeholder: "Address" }
          .form-group
            %label.col-sm-3.control-label{for: "state"} State
            .col-lg-8
              = select_tag("address.state_id", options_for_select(@states.collect{ |u| [u.abbreviation, u.id] }), { 'ng-model' => "address.state_id", 'ng-init'=> "", class: "form-control" })
          .form-group
            %label.col-sm-3.control-label{for: "city",} City
            .col-lg-8
              %input#city{ ng: { model: "address.city"}, type: "text", class: "form-control", placeholder: "City" }
          .form-group
            %label.col-sm-3.control-label{for: "zip",} Zip/Postal
            .col-lg-8
              %input#zip{ ng: { model: "address.zip_code" }, type: "text", class: "form-control", placeholder: "zip/postal code" }
          .form-group
            .col-sm-offset-3.col-sm-12
              %button.btn.btn-success{ ng: { click:"updateAddress(address)" }}
                Update
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Subtotal
      .panel-body
        %table.table
          %thead
            %tr
              %th Name
              %th Price
              %th Quantity
          %tbody
            %tr{ng:{repeat: "item in order.order_items" }}
              %td
                {{ item.source.name }}
              %td
                {{ item.source.price |  currency : symbol : fractionSize }}
              %td
                {{ item.quantity }}
        .col-sm-8
          %label.total
            Total:
        %br
        %br
        .col-sm-8
          %button.btn.btn-primary{ ng: { click:"CompleteOrder(Order)" }}
            Complete







