.container-fluid{ng: {controller: 'CheckoutController'}}
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Credit Card
      .panel-body
        .alert.alert-danger{ ng: { if: 'ccErrors' }}
          %ul{ ng: { repeat: "val in ccErrors" }}
            %li
              {{ val }}
        %form.form-horizontal{ ng: { init: "ccInit(#{@credit_card.to_json.html_safe})" }}
          .form-group
            %label.col-sm-3.control-label{ for: "first-name" } First Name
            .col-lg-8
              %input#first-name{ ng: { model: "cc.first_name", disabled: "!editingCC || orderCompleted" }, class: "form-control" }
          .form-group
            %label.col-sm-3.control-label{ for: "last-name" } Last Name
            .col-lg-8
              %input#last-name{ ng: { model: "cc.last_name", disabled: "!editingCC || orderCompleted" }, class: "form-control" }
          .form-group
            %label.col-sm-3.control-label{ for: "cc" } Card #
            .col-lg-8
              %input#cc{ ng: { model: "cc.card_number", value: "display_number", disabled: "!editingCC || orderCompleted" }, class: "form-control", placeholder: "XXXX-XXXX-XXXX-{{ cc.last_four }}" }
          .form-group
            %label.col-sm-3.control-label{for: "ccv",} Card CVV
            .col-lg-8
              %input#ccv{ type: "number", ng: { model: "cc.cvv" , type: "text", disabled: "!editingCC || orderCompleted" }, class: "form-control", placeholder: "Security Code" }
          .form-group
            %label.col-sm-3.control-label{ type: "number", for: 'exp-month'} Exp. Date
            .col-sm-9
              .row
                %div{ ng: { disabled: "!editingCC" }}
                  .col-sm-3
                    = wrapped_angular_select_month('cc.month', "ng-disabled" => "!editingCC || orderCompleted")
                  .col-sm-3
                    = wrapped_angular_select_year('cc.year', "ng-disabled" => "!editingCC || orderCompleted")
      .panel-footer
        %button.btn.btn-success.pull-right{ ng: { click: "updateCC()", hide: "!editingCC" }}
          %span{class: 'icon', ng: { if: "savingAddress" }}
          Update
        %button.btn.btn-success.pull-right{ ng: { click: "editCC()", hide: "editingCC" }}
          Edit
        .clearfix
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Billing Address
      .panel-body
        .alert.alert-danger{ ng: { if: 'addressErrors' }}
          %ul{ ng: { repeat: "val in addressErrors" }}
            %li
              {{ val }}
        %form.form-horizontal{ ng: { init: "addressInit(#{@address.to_json.html_safe})" }}
          .form-group
            %label.col-sm-3.control-label{for: "street-address"} Address
            .col-lg-8
              %input#first-address{ ng: { model: "address.street_addr", disabled: "!editingAddress || orderCompleted" }, type: "text", class: "form-control", placeholder: "Address" }
          .form-group
            %label.col-sm-3.control-label{ for: "state"} State
            .col-lg-8
              = select_tag('address.state_id', options_for_select(@states.collect{ |u| [u.abbreviation, u.id.to_s]  }), { 'ng-model' => "address.state_id", 'ng-init' => '', class: "form-control", "ng-disabled" => "!editingAddress || orderCompleted"  })
          .form-group
            %label.col-sm-3.control-label{ for: "city",} City
            .col-lg-8
              %input#city{ ng: { model: "address.city", disabled: "!editingAddress || orderCompleted" }, type: "text", class: "form-control", placeholder: "City" }
          .form-group
            %label.col-sm-3.control-label{ for: "zip",} Zip/Postal
            .col-lg-8
              %input#zip{ type: "number", ng: { model: "address.zip_code" , type: "text", disabled: "!editingAddress || orderCompleted" }, class: "form-control", placeholder: "Zip" }
          .form-group
            .col-sm-offset-3.col-sm-12
      .panel-footer
        %button.btn.btn-success.pull-right{ ng: { click: "updateAddress()", hide: "!editingAddress || orderCompleted" }}
          Update
        %button.btn.btn-success.pull-right{ ng: { click: "editAddress()", hide: "editingAddress || orderCompleted" }}
          Edit
        .clearfix
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Subtotal
      .panel-body
        .alert.alert-danger{ ng: { if: 'orderErrors' }}
          %ul{ ng: { repeat: "val in orderErrors" }}
            %li
              {{ val }}
        .alert.alert-success{ ng: { if: "orderCompleted" }}
          Order was successfully placed.
        %table.table
          %thead
            %tr
              %th Name
              %th Price
              %th Quantity
              %th
          %tbody
            %tr{ ng: { repeat: "item in cartOrder.order_items" }}
              %td
                {{ item.source.name }}
              %td
                {{ item.source.price | currency : symbol : fractionSize }}
              %td
                {{ item.quantity }}
              %td
                %button.icon-button{ class: "glyphicon glyphicon-remove-sign", ng: { click: "removeFromCart(item, $index)" }}
            %tr{ ng: { if: "total() > 0" }}
              %td{ colspan: "4"}
                %strong
                  Total: {{ total() | currency }}
      .panel-footer
        %button.btn.btn-primary.pull-right{ ng: { click: "completeOrder()" }}
          Complete
        .clearfix
