.form-wrapper
  = bootstrap_form_for [:admin, @source_model] do |f|
    = f.text_field :name
    = f.check_box :available
    = f.hidden_field(:picture_cache)
    = f.file_field(:picture)
    = f.text_field :on_hand_count
    = f.text_field :price
    = f.submit

