.table-wrapper
  %h3 Coupons
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--8dp
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric Name
        %th.mdl-data-table__cell--non-numeric Amount
        %th.mdl-data-table__cell--non-numeric Code
        %th
        %th
    - @source_models.each do |coupon|
      %tbody
        %tr
          %td.mdl-data-table__cell--non-numeric= coupon.name
          %td= coupon.amount
          %td.mdl-data-table__cell--non-numeric= coupon.code
          %td.mdl-data-table__cell--non-numeric= link_to 'Edit',edit_admin_coupon_path(coupon)
          %td.mdl-data-table__cell--non-numeric-= link_to "Delete", admin_coupon_path(coupon), method: :delete, remote: true, data: { confirm: 'Are you certain you want to delete this?' }
